**/jobInfo.properties
.JETEmitters/
.Java/
.metadata/
LOCAL_PROJECT/code/routines/system/*.*
LOCAL_PROJECT/poms
LOCAL_PROJECT/process/*.screenshot
LOCAL_PROJECT/sqlPatterns
LOCAL_PROJECT/temp
LOCAL_PROJECT/talend.project
